  
.header{
    background-color: rgba(229, 84, 115, 0.10) ;
    
    
    
   
    

    
}
.first{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 230px;
    
   
}



.part-1-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    width: 708px;
    height: 288px;
    
}
.first .h-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    width: 634px;
}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px; 
    margin-top: 50px; 
}
.h-img{
    width:  635px;
    height: 600px;
    justify-content: center;
  
   
    
}
.f-content{
    text-align: center;
    font-family: Lato;
}
.f-h{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
   
}
.f-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}
.f-figure{
    display: flex;
    justify-content: center;
}
.f-pic-1{
    width: 310px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
 
    
    
}
.f-pic-2 {
    width: 310px;
    height: 470px;
    
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
  
}
.f-pic-3{
    width: 310px;
    height: 470px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    


}


.fp-caption{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    
}

.background-3{
  
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 200px;
    height: fit-content;


}
.banner-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 230px 230px 230px 420px;
    
}
.banner-h-3{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
}
.banner-p-3{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-4{
    margin-top: 130px;
    justify-content: center;
    
}
.banner-insta{
    align-items: center;
    
}
.insta-h{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.insta-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.height{
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ful-4{
    padding: 10px;
}
.background-input{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 128px 240px 128px 240px;
    
}
.input-h{
   
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 122px;
}
.input-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.form {
    display: flex;
    
    justify-content: center;
    padding-bottom: 50px;
   
    
    
}
.input-form{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    
    
    
   
   
}
.btn{
    border-radius: 8px;
    background: #E55473;
    justify-content: center;
    margin-left: 5px;
    height: 64px;
    width: 150px;
    border:0px;

}
.review-form {
    background-color: #E55473;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  textarea {
    resize: vertical;
  }
  button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
.footer{
    background: #111010;
}
.footer-h{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 128px;
}
.footer-p1{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  
}
.footer-p2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 130px;
}



    